<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Recipe Form</title>
</head>
<body>
<form id="recipe_form"
      th:method="((${recipe.id}) ? 'PUT' : 'POST')"
      th:action="@{/recipes/{postfix}(postfix=${recipe.id} ? ${recipe.id} : 'new')}"
      th:object="${recipe}">

    <label for="recipe_form_title">title</label>
    <input type="text" th:field="*{title}" id="recipe_form_title"/>

    <label for="recipe_form_image">image</label>
    <input type="text" th:field="*{image}" id="recipe_form_image"/>

    <label for="recipe_form_time">time</label>
    <input type="number" inputmode="numeric" min="0" value="30" th:field="*{time}" id="recipe_form_time"/>

    <label for="recipe_form_calories">calories</label>
    <input type="number" inputmode="numeric" min="0" th:value="${30}" th:field="*{calories}" id="recipe_form_calories"/>

    <label for="recipe_form_ingredients">ingredients</label>
    <input type="text" th:field="*{ingredients}" id="recipe_form_ingredients"/>

    <p>Step 1:</p>
    <input id="recipe_form_submit" type="text" th:field="*{stepsList[0].text}"/>

    <input type="submit" value="create">

</form>

</body>
</html>